$accentColor = #38761D; // Bilbao
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;

// 代码库重置
.content pre {
    margin: 0 !important;
}

$contentWidth = 1024px;

h2 {
    font-size: 2rem;
    color: #38761D;
}

h3 {
    font-size: 1.2rem;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

h4 {
    color: #6196CC;
    font-size: 14px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

blockquote p {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
}

table {
    display: table;
    border-collapse: collapse;
    margin: 1rem 0;
    width: 100%;
    overflow-x: auto;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
